body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  height: auto;
  width: 80%;
  margin: 10px auto;
  /* border: 2px solid black; */
  box-shadow: -2px 2px 35px rgb(83, 83, 83);
}

.header {
  display: inline-block;
  background-color: blueviolet;
}

.header-container {
  display: flex;
  height: auto;
  width: 90%;
  margin: 5px auto;
}

.header-container h1 {
  width: 70%;
  margin: 10px 24px;
  letter-spacing: 1px;
  text-align: center;
  padding: 11px;
  font-family: sans-serif;
  color: rebeccapurple;
}

.button-container {
  width: 20%;
  height: auto;
  margin: 0 auto;
}

.button-container .btn {
  color: white;
  margin: 24px 0;
  padding: 10px;
  font-family: sans-serif;
  width: auto;
  height: auto;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 80%;
  border: 1px solid rebeccapurple;
  background-color: rebeccapurple;
}

.button-container .btn:hover {
  background-color: rebeccapurple;
  animation: submit 2s linear 2s infinite alternate;
}

.form {
  /* display: block; */
  width: 90%;
  height: auto;
  margin: 5px auto;
  /* background-color: orangered; */
}

.form label {
  display: block;
  font-size: large;
  margin: 22px 12px 0 28px;
  color: rgb(65, 64, 64);
}
/* .form .label {
  display: inline-block;
  font-size: large;
  margin: 22px 12px 0 28px;
} */
.form .text {
  position: relative;
  width: 60%;
  height: 1.5rem;
  right: -20%;
  margin-top: 15px;
  padding: 6px;
  border: 1px solid rebeccapurple;
  border-radius: 7px;
  outline: none;
  font-size: large;
}

.submit,
.btn-clear {
  position: relative;
  height: 2.5rem;
  width: 61%;
  background-color: rebeccapurple;
  color: snow;
  letter-spacing: 1px;
  right: -20%;
  padding: 6px;
  border: 1px solid rebeccapurple;
  border-radius: 7px;
  outline: none;
  font-size: large;
}

.btn-clear {
  width: 55%;
  right: -23%;
  background-color: red;
  border-radius: 7px;
  margin-bottom: 12px;
}

.submit:hover {
  background-color: rebeccapurple;
  animation: submit 0.5s linear 2s infinite alternate;
}
.btn-clear:hover {
  background-color: red;
  animation: submit 0.5s linear 2s infinite alternate;
}

@keyframes submit {
  from {
    background-color: rebeccapurple;
  }
  to {
    background-color: green;
  }
}

.check-reminder {
  position: absolute;
  padding: 16px;
  right: 60%;
  bottom: 50%;
}

.tasks-container {
  height: auto;
  width: 90%;
  margin: 5px auto;
  background-color: rebeccapurple;
}
.task-container {
  background-color: rgb(236, 236, 250);
  padding: 12px;
  margin: 5px;
}
.task-text {
  letter-spacing: 1px;
  font-family: sans-serif;
  color: rgb(65, 64, 64);
}

.icon {
  float: right;
  background-color: red;
  color: snow;
  padding: 3px;
  width: 13px;
}

.icon2,
.iconNone {
  display: inline-block;
  position: relative;
  color: rgb(122, 3, 241);
  padding: 3px;
  width: 50px;
  height: 35px;
  margin: 0 25px;
  right: -12%;
  cursor: pointer;
  outline: none;
}

.iconNone {
  color: rgba(83, 83, 83, 0.5);
  outline: none;
}

.reminder {
  border-left: 6px solid rgb(26, 2, 247);
}

.task-day {
  font-size: large;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header-container h1 {
    width: 50%;
    font-size: 1.5em;
    margin: 12px 2px 12px 18px;
  }
  .button-container .btn {
    color: white;
    margin: 30px 0;
    padding: 9px;
    font-size: small;
    width: 90%;
  }
}
